.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.center-150 {
  display: grid;
  grid-template-columns: minmax(300px, 25%) 1fr;
  padding: 12px;
}

.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.footer-container{
  padding-bottom: 15px;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* make keyframes that tell the start state and the end state of our object */
 

@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fade-in {
   opacity:0;  /* make things invisible upon start */
   animation:fadeIn ease-in 1;
   animation-fill-mode:forwards;
   animation-duration:1.4s;
  }
 
.fade-in.delayed {
  animation-delay: 1.4s;
}
 
 


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
